body{
  background-color: black;
}

.ImagenPrincipal {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

@media (max-width: 480px) {

    .ImagenPrincipal {
        height: 300px;
        object-fit: contain;
        margin-top: -20px;
    }
}