.ImagenPrincipal {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

@media (max-width: 480px) {

    .ImagenPrincipal {
        height: 300px;
        object-fit: contain;
        margin-top: -20px;
    }
}

.Acces{
  background-color: rgb(0, 67, 52);
}

.Acces h1{
  color: white;
  text-align: center;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}